{% extends 'base.html' %}

{% block title %}All Blog Posts{% endblock %}

{% block content %}
    <h1>All Blog Posts</h1>

    {% if object_list %}
        <ul>
            {% for post in object_list %}
                <li>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content|truncatewords:20 }}</p>
                    <small>By {{ post.author }} | {{ post.date_posted }}</small><br>
                    <a href="{% url 'post-detail' post.id %}">Read More</a>
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No blog posts available yet.</p>
    {% endif %}

    <div style="text-align:center; margin-top: 20px;">
        <a href="{% url 'CreateblogPost' %}" class="btn">Create a New Post</a>
    </div>
{% endblock %}